
<header class="shadow-sm desktop-header">
    <p>Welcome,</p>
    <div class="user-profile">
        <div class="user-name">
            <i class="fa fas fas fa-angle-down"></i></div>
        <ul class="shadow user-options">
   
            <li>
                <a class="dropdown-item" href="profile.php"><i class="fa fas fas far fa-user"></i>My profile</a>
            </li>
        
            <li  class="logout" onclick="logout()">
                <a class="dropdown-item" href="#" ><i class="fa fas fas far fas fas fa-sign-out"></i>
                    Logout</a>
            </li>
        </ul>
    </div>
</header>