<div class="sidebar-wrapper">
    <div class="admin-dashboard">
        TAX PORTAL
    </div>
    <ul class="nav flex-column">

        <!-- Dashboard -->
        <li class="nav-item">
            <a class="nav-link dashboardLink" href="/dashboard">
                <i class="fa fa-tachometer"></i> Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link bill-payment" href="/Bill/Single">
                <i class="fa fa-credit-card"></i> Generate Bill
            </a>
        </li>
        <!-- E-Filing -->
        <li class="nav-item">
            <a class="nav-link efilling" href="efiling.php">
                <i class="fa fa-file"></i> Pay as you earn
            </a>
        </li>
        <!-- Tax Clearance Certificate -->
        <li class="nav-item">
            <a class="nav-link" href="tcc.php">
                <i class="fa fa-certificate"></i> Tcc Application
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link profileLink" href="profile.php">
                <i class="fa fa-line-chart"></i> My Profile
            </a>
        </li>
    </ul>
    <div class="text-center mb-4 mb-lg-0 logout-small">
        <button onclick="logout()" class="btn btn-danger logout" type="button">Logout</button>
    </div>
</div>