/* larger css start */
@media screen and (min-width: 1025px) {
  .wrapper-container {
    grid-template-columns:1fr ;
    width: 100vw;
    justify-content: center;
    /* padding-left: 50px; */
  }
  

.form-container{
  width: 30vw;
}

  .app-desc {
    font-size: 1.2em;
    text-align: center;
  }

  .logout-small{
    display: none;
  }
  /* DASHBOARD STARTS BIG SCREEN */
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
    align-content: center;
    justify-content: center;
    font-size: 1em;
    background-color: #fff;
    color: var(--accent7-color);
    /* background-color: #fff; */
  }
  .desktop-header > p {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .user-profile {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right:30px;
  }

  .user-profile .user-name {
    cursor: pointer;
    padding-right: 10px;
  }

  .user-name {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-name .fa {
    padding-left: 10px;
  }

  .user-name:hover ~ .user-options {
    display: inline-block;
    z-index: 1000;
  }

  .user-profile ul {
    position: absolute;
    top: 45px;
    background-color: #fff;
    padding: 10px !important;
    display: none;
    width: fit-content;
    border-radius: 10px 0;
    color: #000;
  }

  .user-profile ul:hover {
    display: inline-block;
    z-index: 1000;
  }

  .user-profile ul li {
    display: flex;
    line-height: 40px;
  }

  .user-profile ul li .fa {
    padding-right: 10px;
    color: var(--accent8-color);
  }

  .user-profile ul li a {
    border-radius: 5px;
    padding: 0 10px;
    color: #000;
  }

  .user-profile ul li a:hover {
    background-color: var(--accent-color);
    color: var(--accent4-color);
  }


  .mother-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .sidebar-wrapper {
    height: 100%;
  }
  .sidebar-wrapper > div {
    height: 60px;
    max-height: 60px;
  }
  /* DASHBOARD ENDS BIG SCREEN */
}
